In [16]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.ion()

In [17]:
dataset = "https://raw.githubusercontent.com/wahyuarilsaputra/dataset/main/ds_salaries.csv"
data = pd.read_csv(dataset)

In [18]:
data.head(4)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S

In [21]:
def diss (x,y):
  a = 2
  b = 0
  for col in ['salary','salary_in_usd']:
    if data[col][x] == data[col][y]:
      b+=1
  return (a-b)/a

In [22]:
print(diss(1,1))
print(diss(1,2))
print(diss(4,4))

0.0
1.0
0.0

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)